/* Overlay (mobile only) */
.sidebar-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  z-index: 900;
}


/* Header */
.sidebarV2-header {
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center; /* center the brand */
  border-bottom: 1px solid #eef2f7;
  padding: 0 16px;
}

.sidebarV2 {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 500px;  /* changed to 700px */
  display: flex;
  flex-direction: column;
}

/* make nav take remaining space so we can push maintenance to the bottom */
.sidebarV2-nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 14px;
  flex: 1;
}



.sidebarV2-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.sidebarV2-brand img{
  width: auto;
  max-width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: contain;
}

.sidebarV2-title {
  font-size: 22px;
  font-weight: 800;
  color: #0f172a;
}

/* Close button (ONLY on mobile) */
.sidebarV2-close {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
  color: #334155;
  padding: 10px;
  border-radius: 10px;
}

.sidebarV2-close:hover {
  background: #f1f5f9;
}

/* Nav */
.sidebarV2-nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 14px;
}

.sidebarV2-nav button:hover{
    background-color: #0a4e86;
    color: white;
}

.sidebarV2-item {
  width: 100%;
  padding: 10px 10px;
  border-radius: 12px;
  border: none;
  background: transparent;
  cursor: pointer;
  text-align: left;

  display: flex;
  align-items: center;
  gap: 12px;

  color: #0f172a;
  font-weight: 700;
}

.sidebarV2-text{
    font-size: 20px;
}

.sidebarV2-icon {
  width: 27px;
  min-width: 27px;
  font-size: 21px;
  opacity: 0.85;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.sidebarV2-item:hover {
  background: #f1f5f9;
}

.sidebarV2-item.active {
  background: #0a4e86;
  color: #fff;
}

.sidebarV2-item.active .sidebarV2-icon {
  opacity: 1;
}

/* Footer */
.sidebarV2-footer {
    display: flex;
    justify-content: center;
  border-top: 1px solid #eef2f7;
}
.logout-btn{
    font-size: 20px;
    border: none;
    background-color: transparent;
    text-align: center;
    padding: 15px 50px;
    border-radius: 8px;
    transition: background-color .15s;
}
.logout-btn:hover{
    background-color: #0a4e86;
    color: white;
}

/* ✅ DESKTOP MODE: sidebar always visible like screenshot */
@media (min-width: 900px) {
  .sidebarV2 {
    transform: translateX(0) !important; /* always visible */
  }

  .sidebar-overlay {
    display: none; /* no overlay on desktop */
  }

  .sidebarV2-close {
    display: none; /* no close button on desktop */
  }
}

